<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/smart_routes/main.css' %}">
  </head>
  <body>
    <div class="card card-custom">
      <div class="row no-gutters">
        <div class="col-md-4 bg-dark">
          <div class="card-body">
            <div id="form-container">
              <input id="form-autocomplete0" class="form-control form-custom form-complete" type="text"
              placeholder="Enter a location">
              <input id="form-autocomplete1" class="form-control form-custom form-complete" type="text"
              placeholder="Enter a location">
            </div>
            <button id="btn-add-location" class="btn btn-block btn-sm btn-primary" type="button">Add another location</button>
            <div id="form-overflow-warning" class="text-danger form-complete-warning">Oops! You can't add more than 10 addresses.</div>
            <button id="btn-optimize-routes" class="btn btn-block btn-sm btn-primary" type="button">Optimize route</button>
            <button id="url-generator" class="btn btn-block btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#url-container" aria-expanded="false" aria-controls="url-container"> Generate route URL </button>
            <div class="collapse" id="url-container">
              <div class="card card-body card-body-custom">
                <a id="directions-url"></a>
              </div>
            </div>
            <button id="userReminderForm" class="btn btn-block btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#user-reminder-form" aria-expanded="false" aria-controls="user-reminder-form">
            Send a reminder with route
            </button>
            <div class="collapse" id="user-reminder-form">
              <div id="reminder-form-container" class="card card-body">
                <h6 class="card-title"> Schedule a reminder </h6>
                <div class="form-group">
                  <input id="reminderDate" class="form-control form-control-sm" type="date" name="reminderDate" min="2000-01-02">
                  <input id="reminderTime" type="time" name="reminderTime" class="form-control form-control-sm" placeholder="Set reminder time" required>
                  <input id="reminderURL" type="text" name="reminderURL">
                </div>
                <button id="user-reminder-form-btn" type="submit" class="btn btn-sm btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div id="map" class="col-md-8 map-custom">
        </div>
      </div>
    </div>
    
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% load staticfiles %}
    <script src="{% static 'js/smart_routes/main.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=YOURKEYHERE&libraries=places,geometry&callback=initMap"
    async defer></script>
  </body>
</html>